<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/navbar") %>
    <main>
      <section class="sub-header">
        <div
          class="sub-header-banner"
          style="
            background-image: url('<%= subRedditBanner %>');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 55%;
          "
        ></div>
        <section class="sub-header-info">
          <div class="sub-icon-and-name">
            <img class="sub-icon" src="<%= subRedditIcon %>" alt="" />
            <span class="sub-name"> <%= name %></span>
          </div>

          <div class="sub-buttons">
            <button class="create-post-btn">+ Create Post</button>
            <button class="join-btn">Join</button>
          </div>
        </section>
      </section>

      <section class="sub-content">
        <section class="sub-feed">
          <%for(const post of posts){%>
          <section class="post">
            <div class="post-info">
              <span class="author">u/<%= post.author %></span>
              <h3><%= post.title %></h3>
            </div>

            <div class="post-image">
              <img class="p-img" src="<%= post.img %>" alt="" />
            </div>
          </section>
          <%}%>
        </section>

        <section class="sub-description">
          <h3 class="sub-name-desc"><%= name %></h3>
          <p class="description-text"><%= description %></p>
          <span>
            <b>Members:</b>
            <span class="subs-amount"><%= subscribers %></span></span
          >
        </section>
      </section>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
